

.col-4 button1{
    border-radius: 25px;
    padding: 0px 10px;
}

.right p{
    float: right;
}

.card-text2 {
   float: right;
   padding-left: 60px;
}
.cards {
    padding-top: 10px;
}
.card {
    padding: 15px 0px 15px 20px;
}

.card-left {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}